<div class="container-fluid" *ngIf="showScreen">
  <div class="row">
    <div class="col-md-4">
      <div class="user-list-card">
        <div class="user-card" (click)="selectUserHandler(user.phone)" *ngFor="let user of userList">
          <img [src]="user.image" [alt]="user.name" class="avatar">
          <p class="username">{{user.name}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat-container">
        <ng-container *ngIf="selectedUser">
          <div class="chat-header">
            <img [src]="selectedUser.image" [alt]="selectedUser.name" class="avatar">
            <p class="username">{{selectedUser.name}}</p>
          </div>
          <div class="chat-body">
            <div *ngFor="let item of messageArray" [ngClass]="item.user === currentUser.name? 'same-user':'different-user'">
              <p class="message-container">{{item.message}}</p>
              <svg class="arrow" width="20" height="15" viewBox="0 0 50 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25 0L49.2487 40.5H0.751289L25 0Z" fill="#fff"/>
              </svg>
            </div>
          </div>
          <div class="chat-footer">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input type="text" placeholder="Type a message" class="form-control" [(ngModel)]="messageText" (keyup)="$event.keyCode === 13 && sendMessage()">
                </div>
              </div>
              <div class="col-md-2 text-center align-self-center">
                <div class="btn btn-primary btn-sm px-3" (click)="sendMessage()">Send</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="login">
  <div class="login-form">
    <div class="modal-header">
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="number" placeholder="Enter your phone number" class ="form-control" [(ngModel)]="phone">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="logIn()">Login</button>
    </div>
  </div>
</div>

<ng-template #popup let-d="dismiss" *ngIf="!selectedUser">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="number" placeholder="Enter your phone number" class ="form-control" [(ngModel)]="phone">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="login(d)">Login</button>
  </div>
</ng-template>